@import "tailwindcss";
@import "react-confirm-alert/src/react-confirm-alert.css";


/*ANIMACAO ICONE LOGIN*/
@keyframes pulse-smooth {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.85;
  }
}

.animate-pulse-smooth {
  animation: pulse-smooth 2s infinite ease-in-out;
}


@keyframes modalIn {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* Chrome, Safari e Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
